body {
    margin: 0;
}

.header {
    height: 120px;
    position: fixed;
}
.header_logo {
    margin: 37px 100px;
    display: inline-block;
    }

.header_nav {
    
    display: inline-block;
    padding: 50px 30px;
    vertical-align: top;
}
.header_nav-link {
    margin: 0 20px;
color: white;
font-family: sans-serif;
font-size: 16px;
font-weight: 600;
display: inline-block;
text-decoration: auto;
}

.header_nav-link:hover {
    color: blue;
}
 
.section-start {
    padding: 60px;
    background-image: url(./images/i.webp);
    background-repeat:  no-repeat;
    background-size: 1430px 700px;
}
.section-start-wrapper {
    padding: 100px;
    text-align: center;
}

.section-start-title {
    padding: 40px;
    font-size: 40px;
    color: white;
    font-weight: 800;
}
.section-start-line {
    
    margin: 0 500px 30px 500px;
    border-top: blue 1px solid;
    padding:  0 60px;
    
}
.section-start-text {
margin-bottom: 50px;
font-size: 20px;
color: white;
font-family: sans-serif;
}
.section-start-link-block {
margin-bottom: 60px;
    }

.section-start-link {
    padding: 10px;
font-size: 16px;
color: white;
font-family: sans-serif;
border: white solid 3px;
height: 36px; width: 80px;
text-decoration: auto;
font-weight: 600
}

.section-start-link:hover {
    color: blue;
    border-color: blue;
}

.section-start-slider {
    margin-top: 100px;
    padding: 50px;
}

